.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.logo {
  font-size: 50px;
  color: white;
  padding: 40px;
  font-style: "Courier New, monospace";
}

.naming {
  height: 100%;
  font-size: x-large;
  color: #195190ff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
}

.drop {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  justify-content: center;
}
.drop-content {
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  text-decoration: none;
}

.arrow {
  cursor: pointer;
}

@media (min-width: 650px) {
  .App {
    background-position: center center;
  }
  .naming {
    justify-content: center;
  }
  /* .logo {
    color: #800000;
    /* font-family: "Bradely Hand", cursive; */
  /* font-size: 30px; */
  /* font-weight: 700; */
  /* } */
  .drop-content {
    color: #800000;
    font-weight: bold;
  }
}
